app = "tammyclara-store-b2y"
primary_region = "gru"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false  # ✅ IMPEDE QUE O SITE SAIA DO AR POR INATIVIDADE
  auto_start_machines = true
  min_machines_running = 1    # ✅ MANTÉM UMA MÁQUINA SEMPRE LIGADA

  [[http_service.checks]]
    grace_period = "30s"
    interval = "15s"
    timeout = "2s"
    type = "tcp"

[[mounts]]
  source = "tammyclara_data"
  destination = "/app/data"

[deploy]
  release_command = "python manage.py migrate --noinput"