app = "tammyclara-store-b2y"
primary_region = "gru"

[build]

[env]
  PORT = "8000"

[[mounts]]
  source="tammyclara_data" 
  destination="/app/data"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 8000
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "30s"

[deploy]
  release_command = "/bin/sh -c 'python manage.py collectstatic --noinput && python manage.py migrate --noinput'"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
  cpus = 1