# fly.toml
# Nome do aplicativo registrado no Fly.io
app = "tammyclara-store-b2y" 

# Região primária para a máquina virtual
primary_region = "gru"

[build]
  # Usa o Dockerfile na raiz

# CONFIGURAÇÃO DE VOLUMES: UNIFICADA PARA 1 VOLUME
[[mounts]]
  # O volume único que armazena tanto o db.sqlite3 quanto a pasta /media
  source="tammyclara_data" 
  destination="/app/data"   # O ponto de montagem no contêiner

[env]
  PORT = "8000"
  PYTHON_VERSION = "3.11"

# Configuração para servir a aplicação Web
[[services]]
  protocol = "tcp"
  internal_port = 8000
  processes = ["app"]

  [[services.ports]]
    port = "80"
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = "443"
    handlers = ["tls", "http"]


    [[services.http_checks]]
    interval = "10s"
    # ✅ CORREÇÃO FINAL: Aumentar a graça para 30s para dar tempo ao Django inicializar
    grace_period = "30s" 
    path = "/" 
    # ✅ CORREÇÃO FINAL: Aumentar o timeout para 10s
    timeout = "10s" 
    tls-skip-verify = false
    
[deploy]
  # Usa /bin/sh -c para executar os comandos collectstatic e migrate com sucesso.
  release_command = "/bin/sh -c 'python manage.py collectstatic --noinput && python manage.py migrate --noinput'"